:root {
  font-family: "Ubuntu";
}

body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}



#title {
  width: 100%;
  text-align: center;
  align-self: flex-start;
  background-color: rgb(201, 201, 201);
  box-shadow: 2px 2px 2px lightgray;
}

#gameBoard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  font-size: 5em;
  font-weight: bold;
  gap: 4px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(138, 168, 177);
  width: min(55vh, 55vw);
  height: min(55vh, 55vw);
  border: 1px solid gray;
  box-shadow: 2px 2px 2px lightgray;
}

.boardSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(82, 82, 82);
  background-color: white;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}

.boardSquare img {
  animation: fadeIn 0.5s;
  margin: 0;
  padding: 0;
  max-width: 80%;
  max-height: 80%;
}

#resultDiv {
  display: none;
  margin-top: 20px;
  padding: 15px;
  animation: fadeIn 0.5s;
  font-size: 2em;
  font-weight: bolder;
  background-color: rgb(120, 240, 136);
  border-radius: 15px;
  border: 3px solid black;
}

#buttons {
  display: flex;
  gap: 15px;
}

.topButtons {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  background-color: white;
  border-radius: 15px;
  border: 3px solid black;
  cursor: pointer;
}

.topButtons:hover {
  background-color: rgb(219, 219, 219);
}

.topButtons.activated {
  background-color: rgb(153, 153, 253);
}

.topButtons.disabled {
  background-color: gray;
  cursor: not-allowed;
}

#aiSwitch {
  width: 150px;
}

#player2Div {
  display: none;
}

#nameEntry {
  display: flex;
  gap: 10px;
}

#footer {
  justify-self: flex-end;
  margin-top: auto;
  background-color: gainsboro;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.attribution {
  font-size: small;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

