body {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#gameBoard {
  background-color: white;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
}

.boardSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
